/*  Created by FineTweak Designs  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #000;
    color: #fff;
}

/* -------------------------------------------------------- navbar ------------------------- */

.navbar {
    padding: 0;
    margin: 0 auto;
    height: 40px;
    width: 100%;
    background-color: #000;
    border: transparent 0px;
    border-radius: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.navbar .navbar-default {
    border: black 0px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-default>li>a,
.navbar-default .navbar-nav>li>a {
    text-align: center;
    color: #fff;
    padding-left: 45px;
    padding-right: 45px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #000;
    color: #0fa00f;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #0fa00f;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: 0;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.active>a {
    transition: ease-in-out 0.2s all;
    -moz-transition: ease-in-out 0.2s all;
    -webkit-transition: ease-in-out 0.2s all;
    -o-transition: ease-in-out 0.2s all;
}

header {
    padding: 0;
    margin: 0;
    border: 0;
}

h1 {
    text-align: center;
    padding: 20px 0px;
}

/* ----------------------------------------------------------------- random */

.linebreak {
    height: 1px;
    background-color: #fff;
}

.maininfoplaceholder {
    height: 300px;
    width: 100%;
}

.imgplaceholder {
    height: 350px;
    width: 500px;
    margin-top: 50px;
    display: inline-block;
}

.imgplaceholder img {
    height: 350px;
    width: 500px;
    display: inline-block;
}

.imgplaceholder1 {
    height: 427px;
    width: 300px;
    background-color: #1a2558;
    display: inline-block;
}

.imgplaceholder12 img{
    height: 427px;
    width: 300px;
    display: inline-block;
}

.descriptionplaceholder {
    height: 100px;
    width: 270px;
    background-color: #181a23;
    margin: 0px;
    display: inline-block;
}

.flyer-poster-links {
    background-color: #1a2558;
    display: inline-block;
    margin: 30px 0px;
}

.flyer-poster-links img{
    height: 427px;
    width: 300px;
    display: inline-block;
}

/* ---------------------------------------------------------------- main */

main {
    height: 100%;
    width: 100%;
    background-color: #000;
    text-align: center;
}

.posters {
    padding: 0;
    margin: 0;
}

/* --------------------------------------------------------------- footer */

footer {
    height: 60px;
    background-color: #000;
    text-align: center;
}

.footerlinks li a {
    text-align: center;
    display: inline-block;
    padding: 20px 10px;

}

.footerlinks li a i {
    color: #afafaf;
    font-size: 20px;
    text-align: center;
    transition: ease-in-out 0.2s all;
    -moz-transition: ease-in-out 0.2s all;
    -webkit-transition: ease-in-out 0.2s all;
    -o-transition: ease-in-out 0.2s all;
}

.footerlinks li a i:hover {
    color: #0fa00f;
}
